# Ignore virtual environment folder
venv/
env/
BARBIE/

# Ignore .env files
.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other environment-related files
.venv/
.Python

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore test caches
.pytest_cache/

# Ignore coverage reports
.coverage
.coverage.*
nosetests.xml
pytest-debug.log

# Ignore temporary files created by editors
*~
*.bak
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
